<!DOCTYPE html>
<html lang="en-es">

<body>
  <!-- ------------ Comienzo del HEADER  -->
  <%- include('../partials/header') %>

    <div class="control-formUser">
      <!-- ------------ Fin del HEADER  -->

      <!-- ------------ Inicio del Formulario de registro  -->
      <form class="registro" action="/auth/register" method="POST" enctype="multipart/form-data">

        <ul class="errores" id="errores">
        </ul>

        <div class="registerTittle">
          <h3>Crea tu cuenta</h3>
        </div>

        <div class="data-form">
          <label for="name">Nombre</label>
          <input type="text" name="name" class="name" id="name" placeholder="Ingrese su nombre" <% if
            (locals.oldData && oldData.name) { %>
          value="<%= oldData.name %>"
            <% } %>
              >

              <% if (locals.errors && errors.name) { %>
                <div class="text-alert">
                  <%= errors.name.msg %>
                </div>
                <% } %>

        </div>


        <div class="data-form">
          <label for="email">E-mail</label>
          <input type="email" name="email" class="email" id="email" placeholder="Correo electrónico" <% if
            (locals.oldData && oldData.email) { %>
          value="<%= oldData.email %>"
            <% } %>
              >

              <% if (locals.errors && errors.email) { %>
                <div class="text-alert">
                  <%= errors.email.msg %>
                </div>
                <% } %>

        </div>


       
        <div class="data-form">
          <label for="password">Contraseña</label>
          <input type="password" name="password" class="password" id="password" placeholder="Contraseña">

          <% if (locals.errors && errors.password) { %>
            <div class="text-alert">
              <%= errors.password.msg %>
            </div>
            <% } %>

        </div>

        
        </br>


        <div class="dataSend">
          <button type="submit" class="button-form">Registrarse</button>
          <button type="reset" class="button-form">Reiniciar datos</button>
        </div>

        </br>
        <br>

        <div class="has-account">
          <span>¿Ya tiene una cuenta?</span>
          <a class="has-account-link" href="/auth/login">Inicie sesión</a>
        </div>



      </form>

    </div>


    <!-- ------------ Final del Formulario de registro  -->


    <!-- ------------ comienzo del banner divisor y FOOTER  -->
    <%- include('../partials/footer') %>

      <!-- ------------ Fin del FOOTER  -->

      <script src="/js/validationUserRegister.js"></script>
</body>

</html>